.venv/
__pycache__/
*.pyc


.envdata/bigearthnet/*
!data/bigearthnet/README.md
models/adaptation/checkpoints/
*.parquet
*.lmdb
data/bigearthnet/*
!data/bigearthnet/README.md
models/adaptation/checkpoints/
*.parquet
*.lmdb
